:root{
    /*Colors*/

    /*--- Primary ---*/

    --Dark-blue: hsl(233, 26%, 24%);
    --Lime-green: hsl(136, 65%, 51%);
    --Bright-cyan: hsl(192, 70%, 51%);

    /*--- Neutral ---*/
    
    --Grayish-blue: hsl(233, 8%, 62%);
    --Light-grayish-blue: hsl(220, 16%, 96%);
    --Very-light-gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    /* Typography */

    --size: 18px;
    --font: 'Public Sans', sans-serif;

    /* Adjustment */

    --left: 10rem;
    --spaces: 6rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: var(--size);
    font-family: var(--font);
}

header{
    padding: .8rem;
    background-color: var(--White);
}


header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
header nav .icon-menu{
    background: none;
    border: none;
    cursor: pointer;
}

header nav ul {
    position: absolute;
    top: 3rem;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    background-color: var(--White);
    border-radius: .2rem;
}

header nav ul li{
    list-style: none;
    font-size: .9rem;
}

header nav ul li a{
    text-decoration: none;
    color: var(--Dark-blue);
    font-weight: 400;
}

header nav .btn {
    display: none;
}

.btn{
    background-image: linear-gradient(90deg,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    padding: 1rem;
    width: 11rem;
    border-radius: 1.5rem;
    border: none;
    color: var(--White);
    font-weight: 700;
}

.display{
    display: none;
}

.display-toggle{
    display: block;
}

.display-list{
    display: flex;
}

main{
    position: relative;
    z-index: -1;
}

.slide{
    display: flex;
    background-color: var(--Very-light-gray);
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    gap: 2rem;
    padding-bottom: var(--spaces);
}

.slide .intro-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem 0 2rem;
}


.slide .intro-product span{
    color: var(--Dark-blue);
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

.slide .intro-product p{
    color: var(--Grayish-blue);
    font-weight: 400;
    line-height: 1.8rem;
    text-align: center;
}

.slide .intro-img-product img:first-child{
    position: absolute;
    left: 0;
    top: -25vw;
    width: 100vw;
}

.slide .intro-img-product img:last-child{
    position: relative;
    width: 80vw;
    margin-top: -28.4vw;
}

.services{
    background-color: var(--Light-grayish-blue);
    display: flex;
    flex-direction: column;
    padding: var(--spaces) 2rem var(--spaces) 2rem;
    gap: 4rem;
}

.services .header-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.services .header-section span{
    color: var(--Dark-blue);
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}

.services .header-section p{

    color: var(--Grayish-blue);
    font-weight: 400;
    line-height: 1.8rem;
    text-align: center;

}

.services .row-services {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.services .row-services .items-service{

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;

}

.services .row-services .items-service img{
    width: 7rem;
}

.services .row-services .items-service span{
    color: var(--Dark-blue);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.services .row-services .items-service p{
    color: var(--Grayish-blue);
    font-weight: 400;
    line-height: 1.8rem;
    text-align: center;
}

.articles {
    background-color: var(--Very-light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spaces) 2rem var(--spaces) 2rem;
    gap: 3.2rem;
}

.articles .title{
    color: var(--Dark-blue);
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}

.articles .row-articles{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.articles .row-articles .card-article{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 25rem;
    background-color: var(--White);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    overflow: hidden;
}

.articles .row-articles .card-article .img-article{
    height:auto;
    overflow: hidden;
}

.articles .row-articles .card-article img{
    width: 100%;
    height: 100%;
}


.articles .row-articles .card-article .desc-article{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: 2.6rem;
    padding-top: 0rem;
}

.articles .row-articles .card-article .desc-article small{
    color: var(--Grayish-blue);
    font-size: .8rem;
}

.articles .row-articles .card-article .desc-article span{
    color: var(--Dark-blue);
    font-size: 1.3rem;
    font-weight: 400;
}

.articles .row-articles .card-article .desc-article p{
    color: var(--Grayish-blue);
    font-weight: 400;
    line-height:1.5rem;
    font-size: 1rem;
}

footer{
    background-color: var(--Dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 2rem 3rem 2rem;
}

footer .logo-footer{
    width: 12.5rem;
}

footer .social{
    display: flex;
    gap: 1.5rem;
}

footer .social img{
    width: 1.8rem;
}

footer nav ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

footer nav ul li{
    list-style: none;
    display: flex;
    justify-content: center;
}

footer nav ul li a {
    text-decoration: none;
    color: hsl(235, 11%, 80%);
    font-weight: 400;
}

footer .copy-right{
    color: hsl(235, 11%, 80%);
}

@media screen and (min-width: 1440px) {
    body{
        max-width: 2000px;
        margin-left: auto;
        margin-right: auto;
    }
    header{
        padding: 1rem var(--left) 1rem var(--left);
    }

    header nav .icon-menu{
        display: none;
    }

    header nav ul{
        position: relative;
        top: 0rem;
        width: auto;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        padding: 0rem;
        border-radius: none;
    }

    header nav ul li a{
        text-decoration: none;
        color: var(--Grayish-blue);
        font-weight: 400;
    }

    header nav .btn {
        display: block;
    }

    main{
        overflow-x: hidden;
    }

    .slide{
        height: 41.5rem;
        flex-direction: row;
        justify-content: space-between;
        padding-left: var(--left);
        overflow: unset;
        gap:0;
        padding-bottom: 0;
    }

    
    .slide .intro-product{
        justify-content: unset;
        align-items: unset;
        padding: 0;
        width: 30rem;
    }
    
    
    .slide .intro-product span{
        text-align: left;
    }
    
    .slide .intro-product p{
        text-align: left;
    }
    
    .slide .intro-img-product{
        background-image: url("../images/bg-intro-desktop.svg");
        position: absolute;
        right: 0;
        bottom: 0;
        padding-left: 3.5rem;
        height: 57.7rem;
    }
    .slide .intro-img-product img:first-child{
        display: none;
    }
    
    .slide .intro-img-product img:last-child{
        top: 8.6rem;
        left: 8rem;
        width: auto;
        margin-top: 0;
    }

    .services{
        padding: var(--spaces) var(--left) var(--spaces) var(--left);
    }

    .services .header-section{
        justify-content: flex-start;
        align-items: flex-start;
    }

    .services .header-section p{

        line-height: 1.8rem;
        text-align: left;
        width: 40rem;
    }

    .services .row-services {
        flex-direction: row;
        align-items: unset;
        justify-content: space-between;
        gap: 2rem;
    }
    
    .services .row-services .items-service{
    
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: flex-start;
        align-items: flex-start;
    
    }
    
    .services .row-services .items-service img{
        width: unset;
    }
    
    .services .row-services .items-service span{
        text-align: left;
    }
    
    .services .row-services .items-service p{
        text-align: left;
    }

    .articles {
        justify-content: flex-start;
        align-items: flex-start;
        padding: var(--spaces) var(--left) var(--spaces) var(--left);
    }

    .articles .title{
        font-size: 2.5rem;
        text-align: left;
    }
    
    .articles .row-articles{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    
    .articles .row-articles .card-article{
        align-items: unset;
    }

    .articles .row-articles .card-article .img-article{
        height: 179px;
    }
    
    .articles .row-articles .card-article img{
        height: unset;
    }
    
    .articles .row-articles .card-article .desc-article{
        padding: 1.5rem;
        padding-top: 0rem;
    }

    .articles .row-articles .card-article .desc-article span{
        font-size: 1.2rem;
       
    }

    .articles .row-articles .card-article .desc-article p{
        font-size: .9rem;
        line-height:1.5rem;
    }
    
}

@media screen and (max-width: 375px) {
    .services .row-services .items-service img{
        width: unset;
    }
}


