:root{
    /*Colors*/

    /*--- Primary ---*/

    --Dark-blue: hsl(233, 26%, 24%);
    --Lime-green: hsl(136, 65%, 51%);
    --Bright-cyan: hsl(192, 70%, 51%);

    /*--- Neutral ---*/
    
    --Grayish-blue: hsl(233, 8%, 62%);
    --Light-grayish-blue: hsl(220, 16%, 96%);
    --Very-light-gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    /* Typography */

    --size: 18px;
    --font: 'Public Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: var(--size);
    font-family: var(--font);
    background-color: var(--Bright-cyan);
}

header{
    padding: .5rem;
    background-color: var(--White);
}


header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
header nav .icon-menu{
    background: none;
    border: none;
    cursor: pointer;
}
header nav ul{
    position: absolute;
    top: 3rem;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    background-color: var(--White);
    border-radius: .2rem;
}

header nav ul li{
    list-style: none;
    font-size: .9rem;
}

header nav ul li a{
    text-decoration: none;
    color: var(--Dark-blue);
    font-weight: 400;
}


.btn{
    background-image: linear-gradient(90deg,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    padding: .8rem;
    width: 10rem;
    border-radius: 1.5rem;
    border: none;
    color: var(--White);
    font-weight: 700;
    display: none;
}

.display{
    display: flex;
}

header nav .btn {
    display: none;
}


@media screen and (min-width: 1440px) {
    header{
        padding: 1rem 0 1rem 0;
    }
    header nav{
        max-width: 1200px;
        margin: auto;
        position: relative;
    }

    header nav .icon-menu{
        display: none;
    }

    header nav ul{
        position: relative;
        top: 0rem;
        width: auto;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        padding: 0rem;
        border-radius: none;
    }

    header nav ul li a{
        text-decoration: none;
        color: var(--Grayish-blue);
        font-weight: 400;
    }

    header nav .btn {
        display: block;
    }
}




